.content
	.menu
		nav: ul
				li: a(href="#") Главная
				li: a(href="#service") Сервис
				li: a(href="#footer") О нас

	h1 Чем мы занимаемся

	article.onlyText
		p.
			Elit lorem possimus ducimus esse quasi Laborum non recusandae voluptate iusto cupiditate, dignissimos, rerum Sapiente atque asperiores cupiditate doloremque deleniti In officiis voluptatibus quae ducimus quibusdam doloribus. A expedita eaque exercitationem illo perferendis Tenetur placeat sed explicabo repudiandae error Sed sunt autem pariatur sint repellat! Unde distinctio necessitatibus unde temporibus.
		
	article.imgText
		img(src="img/img1.jpeg" alt="Фото")
		p.
			Lorem explicabo eveniet quis tenetur recusandae. Repellat doloremque tenetur atque voluptatum expedita doloremque? Earum animi elit vitae soluta tempore Quasi nesciunt rerum ducimus id possimus. Ducimus voluptatibus exercitationem recusandae culpa dolorum Ullam aspernatur numquam corrupti consectetur cum cum quos Quis.
			Lorem explicabo eveniet quis tenetur recusandae. Repellat doloremque tenetur atque voluptatum expedita doloremque? Earum animi elit vitae soluta tempore Quasi nesciunt rerum ducimus id possimus. Ducimus voluptatibus exercitationem recusandae culpa dolorum Ullam aspernatur numquam corrupti consectetur cum cum quos Quis.
			
	article.imgText
		img(src="img/img2.jpg" alt="Фото")
		p.
			Lorem explicabo eveniet quis tenetur recusandae. Repellat doloremque tenetur atque voluptatum expedita doloremque? Earum animi elit vitae soluta tempore Quasi nesciunt rerum ducimus id possimus. Ducimus voluptatibus exercitationem recusandae culpa dolorum Ullam aspernatur numquam corrupti consectetur cum cum quos Quis.
	h2#service Наш сервис
	

	article.imgText
		img(src="img/img3.jpg" alt="Фото")
		p.
			Lorem explicabo eveniet quis tenetur recusandae. Repellat doloremque tenetur atque voluptatum expedita doloremque? Earum animi elit vitae soluta tempore Quasi nesciunt rerum ducimus id possimus. Ducimus voluptatibus exercitationem recusandae culpa dolorum Ullam aspernatur numquam corrupti consectetur cum cum quos Quis.
			Lorem explicabo eveniet quis tenetur recusandae. Repellat doloremque tenetur atque voluptatum expedita doloremque? Earum animi elit vitae soluta tempore Quasi nesciunt rerum ducimus id possimus. Ducimus voluptatibus exercitationem recusandae culpa dolorum Ullam aspernatur numquam corrupti consectetur cum cum quos Quis.

	article.twoColl
		.col1
			img(src="img/img4.png" alt="Фото")
			p.
				Lorem explicabo eveniet quis tenetur recusandae. Repellat doloremque tenetur atque voluptatum expedita doloremque? Earum animi elit vitae soluta tempore Quasi nesciunt rerum ducimus id possimus. Ducimus voluptatibus exercitationem recusandae culpa dolorum Ullam aspernatur numquam corrupti consectetur cum cum quos Quis.
		.col2
			img(src="img/img5.jpg" alt="Фото")
			p.
				Lorem explicabo eveniet quis tenetur recusandae. Repellat doloremque tenetur atque voluptatum expedita doloremque? Earum animi elit vitae soluta tempore Quasi nesciunt rerum ducimus id possimus. Ducimus voluptatibus exercitationem recusandae culpa dolorum Ullam aspernatur numquam corrupti consectetur cum cum quos Quis.


	.service
		ul.catigor
			li Кузовной ремонт:
				ul 
					li Выпрямление кузова
					li Покраска
					li Нанесение шума
					li Обработка
			li Двигатель:
				ul
					li Снять / Поставить двигатель
					li Переборка двигателя
					li Замена поршней
					li Замена масла
					li Чистка
			li Ходовая часть:
				ul
					li Замена колёс
					li Замена подвески
					li Спил пружин
					li Балансировка

